{% extends 'base.html' %}
{% block content %}
<!-- log your run -->
 <h1>LOG YOUR RUN</h1>
<form action="/record" method="post">
    Distance: <input type="number" step="any" name="distance" id="distance" required>km <br><br>
    <label for="duration">   Time: </label><input type="number" name="hours" value=0 min="0" max="100"> hours 
    <input type="number" name="minutes" value=0 min="0" max="60" required> minutes   
    <input type="number" name="seconds" value=0 min="0" max="60" required> seconds    <br><br>
    Date: <input type="date" name="date" id="date" required> <br><br>
    <input type="text" name="notes" id="notes" placeholder="Notes(optional)" autocomplete="off"><br><br>
    <input type="submit" value="Log Your Run">
</form>
<br><br><br>

<!-- display previous runs, after scrolling, more runs load -->
<h3>RECENT RUNS</h3>
<div style="overflow-y: auto; height: 130px; width: 500px;">
    <table style="width: 100%;">
        <thead style="position: sticky; top: 2px; color: white; background-color: grey;">
            <th>Distance</th>
            <th>Pace</th>
            <th>Date</th>
            <th>Notes</th>
        </thead>
        <tbody id = 'output'>
            <!-- This is the body for js generated stuff -->
    
        </tbody>
    </table>
</div>

<script>
    function retrieve(){
        fetch("/retrieve")
        .then(response => {
            if (!response.ok){
                throw new Error('response was error.')
            }
            return response.json()
        })
        .then(data => {
            let x = document.querySelector('#output')
            let out = ''
            for(row of data){
                pace = row.duration / row.distance 
                const newpace = new Date(pace * 1000).toISOString().slice(14, 19);
                out += `<tr>
                <td>${row.distance} km</td>
                <td>${newpace}</td>
                <td>${row.date}</td>
                <td>${row.note}</td>
                </tr>`;
            }
            x.innerHTML = out;
        })
        .catch(error => {
            console.log(error);
        })
    }

    retrieve();
</script>


<br><br><br><br><br>
<a href="/logout">Log Out</a>
{% endblock %}