{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block styles %}
.main-body-div{
    display: grid;
    place-content: center;
    text-align: center;
    color: #212529;
}

.form-1{
    text-align: justify;
}

.inner-main-body{
    box-shadow: 0 0 10px grey;
    border-radius: 20px;
    padding: 30px;
    margin-top: 2vh;
    background-color: #F8F9FA;
}

.upper-div{
    padding: 20px;
}

.submit{
    background-color: #007BFF;
    color: white;
    border-style: none;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-weight: 800;
    border-radius: 15px;
}

.submit:hover{
    transform: scale(1.05);
    cursor: pointer;
}

thead{
    position: sticky;
    top: 0; 
    color: white; 
    padding: 10px;
    background-color: #007BFF;
}
{% endblock %}

{% block content %}

<div class="main-body-div">
    <div class="inner-main-body">
        <!-- log your run -->
        <div class="upper-div">
            <h1>LOG YOUR RUN</h1>
            <form action="/record" method="post" class="form-1">
                Distance: <input type="number" step="any" name="distance" id="distance" required> km <br><br>
                <label for="duration">   Time: </label><input type="number" name="hours" value=0 min="0" max="100"> hours 
                <input type="number" name="minutes" value=0 min="0" max="60" required> minutes   
                <input type="number" name="seconds" value=0 min="0" max="60" required> seconds    <br><br>
                Date: <input type="date" name="date" id="date" required> <br><br>
                <input type="text" name="notes" id="notes" placeholder="Notes(optional)" autocomplete="off"><br><br>
                <input type="submit" value="Log Your Run" class="submit">
            </form>
        </div>
        
        <hr>

        <!-- display previous runs, after scrolling, more runs load -->
        <div>
            <h3>RECENT RUNS</h3>
            <div style="overflow-y: auto; height: 130px; width: 500px;">
                <table style="width: 100%;">
                    <thead style="">
                        <th>Distance</th>
                        <th>Pace</th>
                        <th>Date</th>
                        <th>Notes</th>
                    </thead>
                    <tbody id = 'output'>
                        <!-- This is the body for js generated stuff -->
                
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function retrieve(){
        fetch("/retrieve")
        .then(response => {
            if (!response.ok){
                throw new Error('response was error.')
            }
            return response.json()
        })
        .then(data => {
            let x = document.querySelector('#output')
            let out = ''
            for(row of data){
                pace = row.duration / row.distance 
                const newpace = new Date(pace * 1000).toISOString().slice(14, 19);
                out += `<tr>
                <td>${row.distance} km</td>
                <td>${newpace}</td>
                <td>${row.date}</td>
                <td>${row.note}</td>
                </tr>`;
            }
            x.innerHTML = out;
        })
        .catch(error => {
            console.log(error);
        })
    }

    retrieve();
</script>
{% endblock %}