{% extends 'base.html' %}
{% block title %}
Run Away
{% endblock %}

{% block log %}
<a href="/login">Login</a>
{% endblock %}

{% block content %}

<div class="main-body-div">
    <div class="inner-main-body intro-main" style="min-height: 70vh;">
        <h1>WELCOME TO RUN AWAY</h1>
        <h3>A project designed to help you keep track of your runs.</h3>
        <br><br><br><br><br>
        <div><a href="/login" class="login submit">Log In</a></div><br><br>
        Not registered Yet?  <a href="/register" class="register-now">Register Now!</a>
    </div>
</div>

{% endblock %}